/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "common";

body {
	&.block-editor-page {
		&.post-type-reader-alert {
			.editor-writing-flow {
				.editor-post-title {
					&__input {
						font-size: 1.34em;
						font-weight: normal;
					}
				}
			}
		}
	}
}

.wp-block-rhdwp-reader-alerts {
	.reader-options {
		background-color: $lightBlue;
		border: 2px solid $gray;
		border-radius: 2px;
		padding: 6px;

		&__heading {
			margin: 0;
			text-decoration: underline;
		}

		&__url {
			input {
				cursor: text;
			}
		}
	}
}
